body {
  background: #1b1b1b;
}

h1 {
  color: aliceblue;
}

p {
  text-align: center;
  color: gray;
}

.hero h1 {
  font-size: 88px;
  font-weight: bold;
  margin: 80px 20px;
  text-align: center;
  color: aliceblue;
}

.hero h2 {
  color: aliceblue;
  margin: 80px 20px;
  font-size: 60px;
  text-align: center;
}

.fa-brands {
  color: aliceblue;
  display: flex;
  justify-content: ;
}

img {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
